In [40]:
import pandas as pd
import numpy as np
import statistics

In [29]:
df = pd.read_csv("H:\\Denis\\Writing\\Academic Writing\\Kelvin\\Analysi_2.csv")

In [32]:
df = pd.read_excel("H:\\Denis\\Writing\\Academic Writing\\Kelvin\\Analysis.xlsx",sheet_name="Data_2")

In [41]:
df_3 = pd.read_excel("H:\\Denis\\Writing\\Academic Writing\\Kelvin\\Analysis.xlsx",sheet_name="Data_3")

In [43]:
df_3.head(3)

  Daily wages Kes  Branch A  Branch B  Branch C
0           10-14        14        15        12
1           15-19        18        22        20
2           20-24        20        26        32

In [10]:
# Quartile range for the Day class students
Q1 = df['Scores by Day Class Students'].quantile(0.25)
Q2 = df['Scores by Day Class Students'].median()
Q3 = df['Scores by Day Class Students'].quantile(0.75)

print(Q1)
print(Q2)
print(Q3)

35.75
48.5
64.0

In [6]:
# Quartile range for the Evening class students
Q1 = df['Scores by Evening Students'].quantile(0.25)
Q2 = df['Scores by Evening Students'].quantile(0.5)
Q3 = df['Scores by Evening Students'].quantile(0.75)

print(Q1)
print(Q2)
print(Q3)

39.5
49.5
68.0

In [11]:
import scipy.stats as stats

# Example data
x = df['Scores by Evening Students']
y = df['Scores by Day Class Students']

# Calculate Pearson's correlation coefficient and p-value
corr, p_value = stats.pearsonr(x, y)

print("Pearson's correlation coefficient:", corr)
print("p-value:", p_value)

Pearson's correlation coefficient: 0.4204845083195926
p-value: 0.0008226243750270438

In [12]:
df['Scores by Day Class Students'].mean()

49.65

In [13]:
df['Scores by Day Class Students'].std()

21.50035474677774

In [14]:
df['Scores by Evening Students'].mean()

52.083333333333336

In [35]:
import numpy as np

# Calculate the means of x and y
x_mean = df['Orders received'].mean()
y_mean = df['Total_Overtime'].mean()

# Calculate the deviations of x and y from their means
x_dev = df['Orders received'] - x_mean
y_dev = df['Total_Overtime'] - y_mean

# Calculate the sum of the products of the deviations
sum_products = np.sum(x_dev * y_dev)

# Calculate the sum of the squared deviations of x
sum_x_dev_sq = np.sum(x_dev ** 2)

# Calculate the regression coefficient
reg_coeff = sum_products / sum_x_dev_sq

print("Regression coefficient:", reg_coeff)

Regression coefficient: 0.40454374390365666

In [38]:
import pandas as pd
import numpy as np

# Read the dataset into a pandas dataframe
df = pd.DataFrame({
    'Week': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Orders received': [83, 22, 107, 55, 48, 92, 135, 32, 67, 122],
    'Total_Overtime': [38, 9, 42, 18, 11, 30, 48, 10, 29, 51]
})

# Calculate the means of Orders received and Total_Overtime
x_mean = df['Orders received'].mean()
y_mean = df['Total_Overtime'].mean()

# Calculate the deviations of Orders received and Total_Overtime from their means
x_dev = df['Orders received'] - x_mean
y_dev = df['Total_Overtime'] - y_mean

# Calculate the sum of the products of the deviations
sum_products = np.sum(x_dev * y_dev)

print(sum_products)

# Calculate the sum of the squared deviations of Orders received
sum_x_dev_sq = np.sum(x_dev ** 2)

print(sum_x_dev_sq)

print(y_mean)
print(x_mean)

# Calculate the regression coefficient
reg_coeff = sum_products / sum_x_dev_sq

# Calculate the intercept
intercept = y_mean - reg_coeff * x_mean

# Print the regression equation
print(f"Total_Overtime = {intercept:.3f} + {reg_coeff:.3f} * Orders received")

5267.2
13020.099999999999
28.6
76.3
Total_Overtime = -2.267 + 0.405 * Orders received

In [45]:
df = pd.DataFrame({
    'Daily wages Kes': ['10-14', '15-19', '20-24', '25-29', '30-34'],
    'Branch A': [14, 18, 20, 23, 10],
    'Branch B': [15, 22, 26, 10, 12],
    'Branch C': [12, 20, 32, 11, 10]
})

df

  Daily wages Kes  Branch A  Branch B  Branch C
0           10-14        14        15        12
1           15-19        18        22        20
2           20-24        20        26        32
3           25-29        23        10        11
4           30-34        10        12        10

In [47]:
# Calculate the weights for each group and add a new column to the DataFrame:
df['Weight'] = df.iloc[:, 1:].sum(axis=1)
df

  Daily wages Kes  Branch A  Branch B  Branch C  Weight
0           10-14        14        15        12      82
1           15-19        18        22        20     120
2           20-24        20        26        32     156
3           25-29        23        10        11      88
4           30-34        10        12        10      64

In [58]:
# Calculate the weighted mean for each branch
branch_a_mean = (df['Branch A'] * df['Weight']).sum() / df['Weight'].sum()
branch_b_mean = (df['Branch B'] * df['Weight']).sum() / df['Weight'].sum()
branch_c_mean = (df['Branch C'] * df['Weight']).sum() / df['Weight'].sum()

In [59]:
print('Branch A mean wage:', branch_a_mean)
print('Branch B mean wage:', branch_b_mean)
print('Branch C mean wage:', branch_c_mean)

Branch A mean wage: 17.827450980392157
Branch B mean wage: 18.772549019607844
Branch C mean wage: 19.576470588235296